/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E50914;
  --black: #141414;
}

/* Base */
body {
  background-color: var(--black);
  font-family: 'Times New Roman', Times, serif;
  color: #FFF;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

header .logo {
  color: var(--red);
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  letter-spacing: .2rem;
}

header nav a {
  text-decoration: none;
  margin-right: 0.7rem;
  color: white;
}

/* Filme principal */
.main-movie {
  font-size: 1.2rem;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url("../img/capa1.jpg");
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  margin-bottom: 1rem;
}

.main-movie .container {
  width: 65%;
}

.main-movie .title {
  padding-bottom: 2rem;
  font-size: 3rem;
}

.main-movie .description {
  line-height: 1.3;
  text-align: justify;
}

.buttons {
  margin-top: 4rem;
  width: 40%;
}

.btn {
  background-color: rgba(0, 0, 0, .5);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1rem;
  margin-right: .5rem;
  color: #FFF;
  border: none;
  width: 199px;
  height: 50px;
  padding: .5rem;
  margin-top: .5rem;
  cursor: pointer;
  border-radius: .3rem;
  transition: .5s ease all;
}

.btn:hover {
  background-color: var(--red);
}

.btn i {
  margin-right: .5rem;
}

.box-movie {
  width: 100%;
  height: 100%;
  display: block;
}